[submodule "Data-Interface"]
	path = Data-Interface
	url = https://github.com/FogCast-Konstanz/Data-Interface.git
[submodule "Infrastructure"]
	path = Infrastructure
	url = https://github.com/FogCast-Konstanz/Infrastructure.git
[submodule "Cronjob-Service"]
	path = Cronjob-Service
	url = https://github.com/FogCast-Konstanz/Cronjob-Service.git
[submodule "Visualization"]
	path = Visualization
	url = https://github.com/FogCast-Konstanz/Visualization.git
